.menu_button{
    height: 50px !important;
    background-color: transparent;
    border: thin;
    color: white;
    padding-left: 3vh;
    padding-right: 3vh;
}

.menu_button:hover{
    background-color: rgba(0, 0, 0, 0.54);
}

#home_btn{
    height: 50px;
    border: none;
}

#logo{
    height: 45px;
}

#logout{
    margin-right: 5.5%;
}


#id_username{
    background-color: transparent; !important;
}

#id_password{
    background-color: transparent; !important;
}
