@font-face {
    font-family: 'simple'; /*a name to be used later*/
    src: url("../fonts/simple.ttf"); /*URL to font*/
}

@font-face {
    font-family: 'bold'; /*a name to be used later*/
    src: url("../fonts/bold.ttf"); /*URL to font*/
}

html, body {
    height: 100%;
    margin: 0;
}

body{
    background: url("../img/ticks.png");
    font-family: simple;
    color: black;
    overflow: hidden;
}

#main_flexBox{
    display: flex;
    flex-flow: column;
    height: 100%;
}

#custom-navbar{
    background-color: #000000;
    margin: 0;
    padding-left: 5.5%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

#content_flexBox{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow-y: auto;
}

#music_player{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50px;
    border-top: solid lightgrey 1px;
    background-color: snow;
    padding-top: 10px;
    overflow: hidden;
}

strong{
    font-family: bold;
}

#main_container{
    background-color: snow;
    overflow-y: scroll;
    overflow-x: hidden;
}

#browser_table_container{
    overflow: hidden;
}

.table_div{
    margin-top: 200px;
}

.playlist_table_div{
    display:block;
    /*height:400px;*/
    overflow-y: hidden;
    overflow-x: hidden;
}

.artist_albums_container{
    display: inline-block;
    float: left;
    width: 100%;
    margin-top: 2%;

}

.container_artist_title{
    background-color: gray;
    color: white;
    width: 100%;
    padding: 0.5%;
}

.album_of_artist{
    float: left;
    display: inline-block;
    margin-left: 0.8%;
    margin-right: 0.8%;
    margin-top: 4%;
}

.no_style{
    border: hidden;
    background-color: transparent;
}
