@font-face {
    font-family: 'simple'; /*a name to be used later*/
    src: url("../fonts/simple.ttf"); /*URL to font*/
}

@font-face {
    font-family: 'bold'; /*a name to be used later*/
    src: url("../fonts/bold.ttf"); /*URL to font*/
}


body{
    /*background-color: black;*/
    background: url("../img/ticks.png");
    font-family: simple;
    height: 100%;
    color: black;
    overflow: hidden;
}


strong{
    font-family: bold;
}



#main_container{
    background-color: snow;
     height:90vh;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;

}

#browser_table_container{
    overflow: hidden;
}


.table_div{
    margin-top: 200px;
}

.playlist_table_div{
    display:block;
    /*height:400px;*/
    overflow-y: hidden;
    overflow-x: hidden;
}

#music_player{
    position:fixed;
    height:50px;
    bottom:0;
    left:0;
    right:0;
    margin-bottom:0;
    border-top: solid lightgrey 1px;
    background-color: snow;
    padding-top: 10px;
}

.artist_albums_container{
    display: inline-block;
    float: left;
    width: 100%;
    margin-top: 2%;

}

.container_artist_title{
    background-color: gray;
    color: white;
    width: 100%;
    padding: 0.5%;
}

.album_of_artist{
    float: left;
    display: inline-block;
    margin-left: 0.8%;
    margin-right: 0.8%;
    margin-top: 4%;
}

.no_style{
    border: hidden;
    background-color: transparent;
}
