@font-face {
    font-family: 'simple'; /*a name to be used later*/
    src: url("../fonts/simple.ttf"); /*URL to font*/
}

@font-face {
    font-family: 'bold'; /*a name to be used later*/
    src: url("../fonts/bold.ttf"); /*URL to font*/
}


body{
    /*background-color: black;*/
    background: url("../img/ticks.png");
    font-family: simple;
    height: 100%;
    color: black;
    overflow: hidden;
}


strong{
    font-family: bold;
}



#main_container{
    background-color: snow;
     height:100vh;
    margin: 0;
}

.table_div{
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 200px;
}

.playlist_table_div{
    display:block;
    /*height:400px;*/
    overflow-y: hidden;
    overflow-x: hidden;
}


.central_form{
    border: solid;
    width: 400px;
    padding: 2%;
    margin: auto;
    margin-top: 10%;
}


#music_player{
    position:fixed;
    height:50px;
    bottom:0;
    left:0;
    right:0;
    margin-bottom:0;
    border-top: solid lightgrey 1px;
    background-color: snow;
    padding-top: 10px;
}

#main_table{
    margin-top: 100px;
}