.player_btn{
    background-color: transparent;
    color: dimgrey;
    margin: 0;
    border: none;
    font-size: 1.3em;
}

.music_player_flex {
    display: flex;
    flex-flow: row;
}

.music_player_art {
    flex-basis: 50px; /* the width of this element */
    margin-left: 10px;
    left: 0;
    bottom: 0;
}

.music_player_controls {
    flex-basis: auto;
    margin-top: 3px;
}

.music_player_wave {
    flex-grow: 1;
    flex-basis: auto;
    margin-right: 10px;
    background-color: #efefef;
    margin-bottom: 5px;
}

#music_player{
    border-top: solid lightgrey 1px;
    background-color: snow;
    padding-top: 10px;
    overflow: hidden;
    position:fixed;
    bottom: 0;
    width: 100%;
}
