.navbar-brand {
    transition: transform .2s;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(250,250,250);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,250,250, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#search_field {
    margin-top: 10px;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    color: black;
    background-color: snow;
    border: solid snow 1px;
}

#search_button{
    background-color: transparent;
    border: none;
    color: #d2d2d2;
}

#search_button:hover{
    color: white;
}

#logo{
margin-right: 40px;
margin-left: 10px;
cursor: pointer;
}

.navbar-brand:hover {
transform: scale(1.2);
}
nav {
  background-color: black;
  color: white;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-weight: 10;
  text-transform: uppercase;
  margin: 0 10px;
  cursor: pointer;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: white;
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}






