#custom-navbar{
    background-color: dimgrey;
    margin: 0;
    padding-left: 5.5%;
}

.menu_button{
    height: 50px !important;
    background-color: transparent;
    border: thin;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
}

.menu_button:hover{
    background-color: rgba(0, 0, 0, 0.54);
}

#home_btn{
    height: 50px;
    border: none;
}

#logo{
    height: 45px;
}

#logout{
    margin-right: 5.5%;
}


.popover-content{
    color: black;
}

.modal_try{
    border: solid lightgray 3px;
    display: none;
    padding: 5%;
    position: fixed;
    left: 30%;
    top: 30%;
    background: url("../imgs/noisy_net.png");
}


.playlist_name{
    text-transform: capitalize;
    text-align: left;
    vertical-align: bottom;
}

.table_btn{
    border: thin lightgray;
    background-color: transparent;
}


.new_playlist_btn {
    color: black;
}


#new_playlist_input{
    color: black;
}

.no_button{
    border: none;
    background-color: transparent;
    letter-spacing: 3px;
}

.no_button:hover {
    padding-left: 10px;
}

.icon{
    font-size: 1.3em;
    margin: 0.5em;
}

#search_field {
    margin-top: 10px;
    /*margin-left: 5%;*/
    width: 35%;
    height: 30px;
    border-radius: 5px;
    color: black;
    background-color: snow;
    border: solid snow 1px;
}

#search_button{
    background-color: transparent;
    border: none;
    color: #d2d2d2;
}

#search_button:hover{
    color: white;
}

#id_username{
    background-color: transparent; !important;
}

#id_password{
    background-color: transparent; !important;
}

.player_btn{
    background-color: transparent;
    color: dimgrey;
    margin: 0;
    border: none;
    font-size: 1.3em;
}
