<!-- Modal -->
<div id="email_sender" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">This button send you an email</h4>
      </div>
      <div class="modal-body" >
          <input type="hidden" name="email_sender_song_id">
          <p>I don't know if the user should write you anything personal, or I should just send you his username, and the song he wants to buy.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="send_email()">Ok</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>