<div id="music_player" class="row">
    <div class="col-md-1" id="album_artwork">

    </div>
    <div id="waveform" class="col-md-5"></div>
    <div class="col-md-1" id="player_btns">
        <button class="btn btn-primary" onclick="wavesurfer.playPause()">
            <i class="glyphicon glyphicon-play"></i>
            <i class="glyphicon glyphicon-pause"></i>
        </button>
    </div>
    <div class="col-md-5" id="player_playlist">
        <table class="table table-condensed">
            <tbody id="musicplayer_list">
            </tbody>
        </table>
    </div>

</div>