<div id="music_player" class="row">
    <div class="col-md-1">
        <!-- TODO: do not hardcode width/height here -->
        <img id="music-player-artwork" src="" style="width: 38px; height: 38px;">
    </div>
    <div class="btn-group col-md-1" style="min-width: 130px;">
        <button class="player_btn" type="button" onclick="playPrevOnPlaylist()" id="music-player-prev-song">
            <i class="glyphicon glyphicon-step-backward"></i>
        </button>
        <button id="play_btn" class="player_btn" onclick="onPlayPauseClick()">
            <i class="player_play_btn_graphic glyphicon glyphicon-pause" ></i>
        </button>
        <button type="button" class="player_btn" onclick="playNextOnPlaylist()" id="music-player-next-song">
            <i class="glyphicon glyphicon-step-forward"></i>
        </button>
    </div>
    <div id="waveform" class="col-md-8"></div>
</div>