{% load staticfiles %}
<nav class="navbar navbar-expand-md fixed-top stroke">
    <a class="navbar-brand" onclick="show_home()"><img id="logo" height="42" src="{% static "img/logo_white.png" %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" onclick="show_browser()">Browse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="show_playlists()">Playlists</a>
            </li>
        </ul>
            <input type="text" id="search_field" title="Song search"
                   placeholder="Search for songs, albums, moods, tags,..">
            <button class="btn btn-outline-success my-2 my-sm-0" id="search_button" onclick="searchForSongs()">
                <i class="material-icons">search</i>
            </button>
        <ul class="nav navbar-nav navbar-right" id="logout">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
        <!--<ul class="nav navbar-nav navbar-right" id="logout">-->
        <!--<li><a href="/logout"><span class="glyphicon glyphicon-log-out nav-link"></span> Logout</a></li>-->
        <!--</ul>-->
    </div>
</nav>
