{% if user.is_staff %}
    <br>
    <a class="btn btn-primary" href="/upload/basic" role="button">UPLOAD NEW SONGS</a>
    <br><br>
{% endif %}
<table class="table table-condensed">
    <tbody id="song_table"></tbody>
</table>

<div class="playlist_modal">
    <h4>Enter title for new playlist</h4>
    <p><input id="new_playlist_input" type="text" title="Playlist title"></p>
    <br>
    <p>
        <button class=no_button id="create_playlist">OK</button>
        <button class=no_button id="cancel">Cancel</button>
    </p>
</div>

{% if user.is_staff %}
<div id="edit_song" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="edit_modal_title"></h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="edit_song_id" name="edit_song_id">
        <p>Title: </p><input id="edit_title" name="edit_title">
        <p>Artist: </p><input id="edit_artist" name="edit_artist">
        <p>Album: </p><input id="edit_album" name="edit_album">
        <p>Tags: </p><p id="current_tags">Tags are coming here</p>
          <input id="edit_tags" name="edit_tags">
      </div>
      <div class="modal-footer">
        <button type="button" onclick="edit_modal_send_data()" class="btn btn-default" data-dismiss="modal">Ok</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}