<div id="slider">
        <div>
            <img src="/media/slides/Adori.jpg" alt="">
        </div>
        <div>
            <img src="/media/slides/Belle-Belle.jpg" alt="">
        </div>
        <div>
            <img src="/media/slides/Dorothys-Legs.jpg" alt="">
        </div>
        <div>
            <img src="/media/slides/PD-02.png" alt="">
        </div>
    </div>

<div class="container-fluid" id="all_albums">

</div>

<script>


<!--$("#slideshow > div:gt(0)").hide();-->

<!--setInterval(function() {-->
  <!--$('#slideshow > div:first')-->
    <!--.fadeOut(3000)-->
    <!--.next()-->
    <!--.fadeIn(3000)-->
    <!--.end()-->
    <!--.appendTo('#slideshow');-->
<!--}, 3000);-->

<!--var myIndex = 0;-->
<!--carousel();-->

<!--function carousel() {-->
    <!--var i;-->
    <!--var x = document.getElementsByClassName("mySlides");-->
    <!--for (i = 0; i < x.length; i++) {-->
       <!--x[i].style.display = "none";-->
    <!--}-->
    <!--myIndex++;-->
    <!--if (myIndex > x.length) {myIndex = 1}-->
    <!--x[myIndex-1].style.display = "block";-->
    <!--setTimeout(carousel, 5000); // Change image every 2 seconds-->
<!--}-->
</script>