<h1>Hello,</h1>
<p>As you can see, the site lives, so, from now, you can continuously check how it grows. Hope you like it!</p>
<p><br></p>
<h4>Remaining work:</h4>(it's a help for me, but I think it's useful if you see it, too)
<table class="table">
    <thead>
      <tr>
        <th>Task</th>
        <th>Status</th>
      </tr>
    </thead>
        <tbody>
            <tr>
                <td>Add songs to playlist</td>
                <td>Adding delete buttons and fix design</td>
            </tr>
            <tr>
                <td>Work with tags</td>
                <td>In backend, the searching would work with it, i have the fields in db and the function to add them. Need to create the frontend of it</td>
            </tr>
            <tr>
                <td>The artwork of the album</td>
                <td>I can't read it from the metadata directly, so I have save the pics and to change the album model to store the path</td>
            </tr>
            <tr>
                <td>Registration and user handling</td>
                <td>Ask which way is the best, to be confortable</td>
            </tr>
            <tr>
                <td>Upload song</td>
                <td>Create a custom admin page with fields, try to find a faster way to upload many tracks</td>
            </tr>
            <tr>
                <td>Design</td>
                <td>Change design and add functions based on the doc prntScr</td>
            </tr>
            <tr>
                <td>The music player</td>
                <td>Make it prettyer and more useful. Add "play playlist" function with skip and things(based on soundcloud player)</td>
            </tr>
        </tbody>
    </table>