{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <script src="{% static 'js/wavesurfer.min.js' %}"></script>
        <script src="{% static 'js/music_player.js' %}"></script>
        <script src="{% static 'js/navbar.js' %}"></script>
        <script src="{% static 'js/table.js' %}"></script>
    </head>

    <body>

        {% include "collection/elements/navbar.html" %}
        <div id="logo-div"><img id="logo" src="{% static 'imgs/logo_transparent.png' %}"></div>

        <div class="content">
        <div id = "browser">{% include "collection/browser/browser.html" %}</div>
        <div id = "playlists">{% include "collection/playlists/playlists.html" %}</div>
        </div>
        {% include "collection/elements/music_player.html" %}

    </body>
</html>
