<h1>Hello,</h1>
<p>Hope you like it!</p>
<p><br></p>
<h4>Remaining work:</h4>
<table class="table">
    <thead>
      <tr>
        <th>Task</th>
        <th>Status</th>
      </tr>
    </thead>
        <tbody>
            <tr>
                <td>Add songs to playlist</td>
                <td>Adding delete buttons</td>
            </tr>
            <tr>
                <td>Work with tags</td>
                <td>In backend, the searching would work with it, i have the fields in db and the function to add them. Need to create the frontend of it</td>
            </tr>
            <tr>
                <td>The artwork of the album</td>
                <td>the code is ready, i have to use it</td>
            </tr>
            <tr>
                <td>Registration and user handling</td>
                <td>Ask which way is the best, to be confortable</td>
            </tr>
            <tr>
                <td>Upload song</td>
                <td>Try thejs plugin to upload whole folder. Create a pretty and easy-to-use ui</td>
            </tr>
            <tr>
                <td>The music player</td>
                <td> Add "play playlist" function with skip and things(based on soundcloud player)</td>
            </tr>
        </tbody>
    </table>