{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Central Publishing</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/elements.css' %}">
        <link rel="stylesheet" href="{% static 'css/main_layout.css' %}">
        <link rel="stylesheet" href="{% static 'css/jBox.css' %}">
        <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>


        <script src="{% static 'js/vendor/jBox.min.js' %}"></script>
        <script src="{% static 'js/vendor/wavesurfer.min.js' %}"></script>
        <script src="{% static 'js/vendor/jsmediatags.min.js' %}"></script>
        <script src="{% static 'js/site/music_player.js' %}"></script>
        <script src="{% static 'js/site/navbar.js' %}"></script>
        <script src="{% static 'js/site/table.js' %}"></script>
        <script src="{% static 'js/site/playlist.js' %}"></script>
        <script src="{% static 'js/site/homepage.js' %}"></script>
        <script src="{% static 'js/site/main.js' %}"></script>
    </head>

    <body>
        <div id="main_flexBox">
            <input type="hidden" id="is_staff" value="{{user.is_staff}}">
            {% include "collection/elements/navbar.html" %}
            <div id="content_flexBox">
                <div class="col-md-1"></div>
                <div class="container col-md-10" id="main_container">
                    <div id="home">{% include "collection/homepage.html" %}</div>
                    <div id="browser">{% include "collection/browser/browser.html" %}</div>
                    <div id="playlists">{% include "collection/playlists/playlist.html" %}</div>
                </div>
                <div class="col-md-1"></div>
            </div>
            {% include "collection/elements/music_player.html" %}
        </div>
        {% include "collection/elements/email_sender.html" %}
    </body>
</html>
